<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999105837304-ga3giulj63rgt7op6hp1l9308ke4nku2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999105837304-ga3giulj63rgt7op6hp1l9308ke4nku2</string>
	<key>API_KEY</key>
	<string>AIzaSyDfzmDfr6o9kwsHjs8QH88irgOHqYv2_h0</string>
	<key>GCM_SENDER_ID</key>
	<string>999105837304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wecodeFirebaseFlutterb</string>
	<key>PROJECT_ID</key>
	<string>crudwecode</string>
	<key>STORAGE_BUCKET</key>
	<string>crudwecode.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999105837304:ios:500aa5cc9f76d74056230d</string>
</dict>
</plist>